.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
  position: absolute;
  bottom: 5%;
  right: 3%;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(59,130,246,0.5)6;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
  display: flex;  
}

.actions button:hover,
.actions button:active {
  background-color: rgba(59,130,246,0.5);
  border-color: rgba(59,130,246,0.5);
  color: white;
}

.actions .button--alt {
  color: rgba(59,130,246,0.5);
}

.actions .button {
  background-color: rgba(59,130,246,0.5);
  color: white;
}
