.overlay{
    position: fixed;
    top: 0;
    left: 0;
    
    height: 100%;
    width: 100%;
    
    background-color: rgba(107, 107, 107, 0.445);

    z-index: 1000;
}


.my-modal{
    position: fixed;
    top: 100px;
    left: 5%;

    width: 90%;
    height: auto;
    max-height: 80%;

    overflow-y: scroll;

    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 1001;
    animation: slide-down 300ms ease-out forwards;
    &::-webkit-scrollbar{
        &-thumb{
            transition: background-color 0.4s;
            background-color: rgba(202, 202, 202, 0.774);
            border-radius: 5px;
            
            &:hover{
                background-color: rgba(153, 153, 153, 0.904);
            }
        }
        width: 10px;
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}